doctype html
html
    head
        title='Error'+(isAuth ? ' | '+user.username : '')
    body
        h2='That\'s a '+error.status+'!'
        p
            | Would you like to 
            a(href='/report')
                | report
            |  problem?
        h2= error.status
        pre #{error.stack}
