script(src="/javascripts/my_js.js")

div(class="w3-hide-small w3-hide-medium w3-panel",style="color:white")    
    div(class="w3-left") 
        p(class="w3-container w3-xlarge") NITK LITE
    div(class='w3-bar-item w3-right w3-padding',style="margin:auto;")    
        a(href='/about',class="w3-bar-item w3-button") About
        if isAuth
            a(href='/dash',class="w3-bar-item w3-button") Dash
        else
            a(href='/login',class="w3-bar-item w3-button") Login
        a(href='/report',class="w3-bar-item w3-button") Report Problem
        a(href='http://www.nitk.ac.in/',class="w3-bar-item w3-button") NITK
        a(href='/',class="w3-bar-item",class="w3-bar-item w3-button") Home


div(class="w3-hide-large w3-panel", id="V", style="width:100%;height:100%")    
    h1(class='w3-center',style="color:white") NITK LITE
        
    span(style="position:absolute;left:0px;top:2px;margin-left:5px;color:white")
        i(class="fa fa-bars w3-large w3-button",aria-hidden="true",@click="show=true")   

    div(class="w3-modal w3-show w3-display-container", v-if="show")
        div(class="w3-modal-content w3-white w3-display-middle")
            div(class="w3-panel")
                span(class="w3-button w3-display-topright",@click="show=false") &times    
            div(class="w3-container w3-bar-block w3-center",style="width:60vw")
                a(href='/about',class="w3-bar-item w3-button") About
                if isAuth
                    a(href='/dash',class="w3-bar-item w3-button") Dash
                else
                    a(href='/login',class="w3-bar-item w3-button") Login
                a(href='/report',class="w3-bar-item w3-button") Report Problem
                a(href='http://www.nitk.ac.in/',class="w3-bar-item w3-button") NITK
                a(href='/',class="w3-bar-item",class="w3-bar-item w3-button") Home

script.
    new Vue({
        el:'#V',
        data:{
            show:false
        }
    })
