@import url('leftNav.css');
#realContent {
    padding: 20px;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #0099ff;
    padding: 10px;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #0099ff;
    color: black;
}
