@import url('leftNav.css');
#realContent {
    padding: 20px;
}

#logs {
    border-collapse: collapse;
}

#logs td,
#logs th {
    border: 1px solid #0099ff;
    padding: 10px;
}

#logs tr:hover {
    background-color: #ddd;
}

#logs  th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #0099ff;
    color: black;
}
