@import url('leftNav.css');
pre {
    font-size: 20px;
}

#map {
    height: 100%;
    width: 100%;
}

#realContent {
    height: 100%;
    width: 100%;
}

.imageButton {
    outline: 0;
}

.buttonWrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 5%;
    /* padding: 1rem 0; */
}

.x {
    /* width: 100px; */
    /* border: 1px solid red; */
}
