doctype html
html
    head
        title Dash (#{user.username})
        link(rel='stylesheet' href='/stylesheets/dash/dash.css')
    body
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/javascripts/dash/dash.js')
        div(id='content')
        script.
            var navConVisible = false
        include leftNav