div(id='nav')
    div(id='navContainer')
        h4(id='navTitle') Goto
        ul(id='navUl')
            li
                a(class='navA' href='/') Home       
            li
                a(class='navA' href='/dash') Dash
            li
                a(class='navA'  href='/dash/map') Map
            if user.admin  === true
                li
                    a(class='navA'  href='/dash/admin') Admin
                li
                    a(class='navA'  href='/dash/load') Load
                li
                    a(class='navA'  href='/upload') Advt
                li 
                    a(class='navA' href ='/dash/stats') Stats
                li
                    a(class='navA' href ='/dash/logs') Logs
                li 
                    a(class='navA' href ='/dash/report') Report
            if user.admin === false
                li
                    a(class='navA onOverride' href='/dash/load' style='display:none;') Load 
                li 
                    a(class='navA' href ='/dash/report') Report
            li 
                a(class='navA'  href='/logout') Logout
    button(id='navToggler')
img(id="msgImg" src='/images/msg.png')  
script(src='/javascripts/dash/leftNav.js')
